.content {
    
}

.content-orange {
    background-color: orange;
}

.content-yellow{
    background-color: yellow;
    margin: 5px;
}

.header {
    background-color: orange;
}

.div_left_border {
    border-left: 1px solid black;
}

.footer {
    background-color: orange;
    padding: 5px;
    overflow: auto;
    margin-top: -1px;
}

.footer-text {
    float: right;
}

.footer .logo-footer {
    width: 60px;
    height: 60px;
    display: block;
    margin: -30px 0 0 50%;
    position: absolute;
}

.text{
    margin: 5px;
}

.lf_card {
    background-color: orange;
}

.lf_card > .card-body > div {
    background-color: white;
    border-radius: 20px;
    overflow: auto;
}

.lf_card > .card-body {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.container-flex {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header > .menu > .navbar {
    margin: 0;
    padding: 0;
}

.reflex {
    text-align: right;
    transform: scale(1,-1);
    text-shadow: 2px 2px 2px;
    margin-top: -10px;
    opacity: 0.5;
}

.header-right-text {
    /*text-align: right;*/
    text-shadow: 2px 2px 20px;
}

.header-center-text {
    /*text-align: center;*/
    color: white;
    /*position: absolute;
    margin-left: 45%;
    margin-top: 3%;*/
}

/* Container holding the image and the text */
.inner-header-container {
    position: relative;
    /*text-align: center;*/
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.bottom-center {
    position: absolute;
    bottom: 8px;
    left: 35%;
    /*transform: translate(-50%, -50%);*/
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right > h1 {
    color: black;
}

.logo-header {
    float: right;
    margin-top: 104px;
}

.logo-header > img {
    width: 90px;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}

.hamburger {
    padding: 1px 1px;
    font-size: 15px;
    margin: 2px 2px;
}

/*@media screen and (max-width: 974px) and (min-width: 767px) {
    #calendar {
        font-size: 7px;
    }

    #calendar thead tr:last-child {
        font-size: inherit;
    }
}*/

@media screen and (max-width: 767px) and (min-width: 0px) {
	.footer .logo-footer {
		margin: 0px;
	}
}

/*@media screen and (max-width: 584px) and (min-width: 281px) {
    #calendar {
        font-size: 7px;
    }

    #calendar thead tr:last-child {
        font-size: inherit;
    }
}

@media screen and (max-width: 280px) and (min-width: 0px) {
    #calendar {
        font-size: x-small;
    }

    #calendar thead tr:last-child {
        font-size: inherit;
    }
}*/

@media screen and (max-width: 974px) and (min-width: 0px) {
    #calendar {
        font-size: 7.5px;
    }

    #calendar thead tr:last-child {
        font-size: inherit;
    }
}

@media screen and (max-width: 267px) and (min-width: 0px) {
    .card-title, .card-text {
        font-size: small;
    }
}

@media screen and (max-width: 1029px) and (min-width: 992px) {
    .header > .menu > .navbar {
        font-size: 12px;
        line-height: 12px;
    }
}

@media screen and (max-width: 757px) and (min-width: 0px) {
    .hamburger {
        font-size: 10px;
        margin: 1px 1px;
    }

    .nav-item > a {
        font-size: small;
    }

    .dropdown-menu > a {
        font-size: small; 
    }
}

@media screen and (max-width: 1065px) and (min-width: 793px) {
    h2 {
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 792px) and (min-width: 734px) {
    h1 {
        font-size: 5.5vw;
      }
    h2 {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 734px) and (min-width: 0px) {
    .top-right {
        top: 0px;
    }

    .bottom-center {
        bottom: 0px;
    }

    h1 {
        font-size: 5.5vw;
      }
    h2 {
        font-size: 2.5vw;
    }

    .footer-text {
        font-size: small;
    }

    .footer .logo-footer {
        width: 40px;
        height: 40px;
	}
}